main{
    max-width: 1920px;
    position: relative;
}
main .bnr_slide{
    max-width: 1920px;
    height: 920px;
}
main .bnr_slide .swiper-wrapper{
    position: relative;
}
main .bnr_slide .swiper-wrapper .swiper-slide{
}
main .bnr_slide .swiper-wrapper .swiper-slide p{font-weight: 500; color: #fff; margin-bottom: 8px;}
main .bnr_slide .swiper-wrapper .swiper-slide h2{font-weight: 700; font-size: 3.4375rem; color: #fff; margin-bottom: 37px; }
main .bnr_slide .swiper-wrapper .swiper-slide a{color: #fff; font-size:0.875rem; font-weight: 700;}
main .bnr_slide .swiper-wrapper .slide1{
    background-image: url(../images/index/bnr_001.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
main .bnr_slide .swiper-wrapper .bnr_text{
    width: max-content;
    text-align: end;
    position: absolute; bottom: 122px; right: 206px;
}
main .bnr_slide .swiper-wrapper .slide2{
    background-image: url(../images/index/bnr_002.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
main .bnr_slide .swiper-wrapper .slide3{
    background-image: url(../images/index/bnr_003.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
main .bnr_slide .swiper-wrapper .slide4{
    background-image: url(../images/index/bnr_004.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
main .bnr_slide .swiper-wrapper .slide5{
    background-image: url(../images/index/bnr_005.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

main .bnr_slide .slide_btn{}
main .bnr_slide .slide_btn .swiper-button-next{
    padding-right: 100px;
    color: #fff;
}    
main .bnr_slide .slide_btn .swiper-button-prev{
    padding-left: 100px;
    color: #fff;
}

main .content_area {width: 100%;}
main .content_area .new_area{
    text-align: center;
    padding-bottom: 100px;
}
main .content_area .new_area h3{
    padding-top: 100px;
    font-size:2.5rem;
    font-weight: 700;
    padding-bottom: 15px;
}
main .content_area .new_area p{
    letter-spacing:-0.02em;
    padding-bottom: 99px;
}
main .content_area .new_area .new_slide{
    width: 90%;
    margin: 0 auto;
}
main .content_area .new_area .swiper-slide{
    
}
main .content_area .new_area .swiper-slide a{
    text-align: start;
}
main .content_area .new_area .swiper-slide a .new_text{
}
main .content_area .new_area .swiper-slide a .new_text img{
    width: 100%
}
main .content_area .new_area .swiper-slide a .new_text span{
    line-height: 1.2;
    padding-top: 20px;
    margin: 0 10px;
}
main .content_area .new_area .swiper-slide a .new_text del{
    display: inline-block;
    padding: 10px 0; margin: 0 10px;
}
main .content_area .new_area .swiper-slide a .price_text{}
main .content_area .new_area .swiper-slide a .price_text em{
    font-weight: 700;
    color: #ff3131;
    margin: 0 10px;
}
main .content_area .new_area .swiper-slide a .price_text .total_price{
    font-weight: 500;
}
main .content_area .new_area .swiper-slide a span{display: block;}
main .content_area .new_area .swiper-slide a .total_price{display: inline-block;}
main .content_area .new_area .slide1{}
main .content_area .new_area .slide2{}
main .content_area .new_area .slide3{}

main .content_area .new_area {
    position: relative; 
}
main .content_area .new_area .new_slide {
    width: 90%;
}
main .content_area .new_area .new_btn{
    position: relative; bottom: 200px;
}
main .content_area .new_area .swiper-button-prev {
    color: #000;
}
main .content_area .new_area .swiper-button-next {
    color: #000;
}

/* best 시작 */
main .content_area {}
main .content_area .best{
    position: relative;
    width: 100%;
}
main .content_area .best .best_bg img{
    width: 50%;
}
main .content_area .best .right_contents{
    position: absolute; bottom: 15%; right: -1%;
    padding-left: 80px;
    width: 60%;
}
main .content_area .best .right_contents h3{
    font-size:3rem;
    font-weight: 600;
    padding-bottom: 15px;
    padding-left: 140px;
}
main .content_area .best .right_contents p{
    padding-left: 140px;
    line-height: 1.6;
    letter-spacing: 0.05em;
    padding-bottom: 80px;
}
main .content_area .best .right_contents .best_slide{
}
main .content_area .best .right_contents .best_slide a{
    position: relative;
    overflow: hidden;
    display: block; 
}
main .content_area .best .right_contents .best_slide a .item_img{
    overflow: hidden;
}
main .content_area .best .right_contents .best_slide a .item_img img{
    width: 100%;
}
main .content_area .best .right_contents .best_slide {
    width: 100%;
    overflow: hidden;
}
main .content_area .best .right_contents .best_slide a:hover .text_ani{
    display: block;
    animation: bestTransfer 0.5s;
}

main .content_area .best .right_contents .best_slide a .text_ani{
    display: none;
    width: 100%; height: 100%;
    position: absolute; bottom: 0;
    background: rgb(255, 255, 255,0.7);
    text-align: center;
    align-content: center;
}
main .content_area .best .right_contents .best_slide a .best_text{
    display: flex; flex-flow: column nowrap;
}
main .content_area .best .right_contents .best_slide a .best_text span{
    line-height: 1.2;
    padding-top: 20px;
}
main .content_area .best .right_contents .best_slide a .best_text del{
    padding: 10px 0;
}
main .content_area .best .right_contents .best_slide a .price_text em{
    font-weight: 700;
    color: #ff3131;
}
main .content_area .best .right_contents .best_slide a .price_text .total_price{
    font-weight: 500;
}

main .right_contents .best_slide .event-scrollbar .swiper-scrollbar-drag {
    background-color: #222;
}
main .right_contents .best_slide .event-scrollbar {
    width: 850px; height: 2px; background-color: #eee;
    position: relative; left: 30px;
    margin: 52px auto 0;
}


@keyframes bestTransfer {
    0% {transform:translateY(150px);}
    100% {transform:translateY(0)}
    
}
/* best 종료 */
/* 카테고리 시작 */
main .content_area .category_area{
    text-align: center;
    position: relative;
    padding-bottom: 100px;
}
main .content_area .category_area h3{
    padding-top: 200px;
    font-size:2.5rem;
    font-weight: 700;
    padding-bottom: 15px;
}
main .content_area .category_area p{
    letter-spacing:-0.02em;
    padding-bottom: 76px;
}
main .content_area .category_area .category_btn{
    margin-bottom: 76px;
}
main .content_area .category_area .category_btn a:last-child{
    margin-right: 0;
}
main .content_area .category_area .category_btn a{
    font-weight: 500;
    padding: 10px 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin-right: 10px;
}
main .content_area .category_area .category_btn .active{
    background-color: #000;
    color: #fff;
}
main .content_area .category_area .swiper {
    width: 90%;
    margin: 0 auto;
}
main .content_area .category_area .swiper .swiper-slide {}
main .content_area .category_area .swiper .swiper-slide .category_text {}
main .content_area .category_area .swiper .swiper-slide .category_text img {
    width: 100%
}
main .content_area .category_area .category_arrow {
    position: relative; bottom: 200px;
}
main .content_area .category_area .swiper-button-prev {
    color: #000;
}
main .content_area .category_area .swiper-button-next {
    color: #000;
}

main .content_area .category_area .swiper-slide a {
    text-align: start;
}
main .content_area .category_area .swiper-slide a .category_text span{
    margin-top: 20px; margin: 0 10px;
}
main .content_area .category_area .swiper-slide a .category_text del{
    display: inline-block;
    padding: 10px 0; margin: 0 10px;
}
main .content_area .category_area .swiper-slide a .price_text{}
main .content_area .category_area .swiper-slide a .price_text em{
    font-weight: 700;
    color: #ff3131; margin: 0 10px;
}
main .content_area .category_area .swiper-slide a .price_text .total_price{
    font-weight: 500;
}
main .content_area .category_area .swiper-slide a span{display: block;}
main .content_area .category_area .swiper-slide a .total_price{display: inline-block;}

/* 카테고리 버튼 활성화 영역 */
main .content_area .category_area .keyboard{}
main .content_area .category_area .swiches{display: none;}
/* 카테고리 종료 */

/* 커스텀 영역 시작*/

main .custom_area{
    display: flex;
    margin: 0 auto;
    width: 100%;
    justify-content: space-between;
}
main .custom_area .custom_bg{
    width: 49%;
    background-image: url(../images/index/custom_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    text-align: center;
    align-content: center;
    padding-right: 40px;
}
main .custom_area .custom_bg h3{
    font-size:2.5rem;
    font-weight: 700;
    padding-bottom: 15px;
}
main .custom_area .custom_bg p{
    color: #333333;
}
main .right_contents {
    width: 49%;
}
main .right_contents .custom {
}
main .right_contents .custom .swiper-wrapper{
    display: flex;
}
main .right_contents .custom .swiper-slide{
}   
main .right_contents .custom .swiper-wrapper a{
    padding-bottom: 20px;
}
main .right_contents .custom .swiper-slide .custom_text{
    display: flex; flex-flow: column nowrap
}    
main .right_contents .custom .swiper-slide .custom_text img{
    width: 100%;
}
main .right_contents .custom .swiper-slide .custom_text span{
    line-height: 1.2; margin: 20px 10px 0 10px;
}
main .right_contents .custom .swiper-slide .custom_text del{
    color: #A5A5A5;
    padding: 10px 0; margin: 0 10px;
}
main .right_contents .custom .swiper-slide .price{
    margin-bottom: 20px;
}
main .right_contents .custom .swiper-slide .price em{
    color: #FF3131;
    font-weight: 700; margin: 0 10px;
}
main .right_contents .custom .swiper-slide .price span{}

/* 커스텀 영역 종료*/
/* 서비스 영역 시작 */
main .service{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 150px;
}
main .service h3{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 17px;
}
main .service p{
    line-height: 1.6;
    letter-spacing: -0.05em;
    color: #333333;
    margin-bottom: 100px;
}
main .service .service_container {
    display: flex;
    width: 75%;
    margin: 0 auto;
}
main .service .service_container a{
    display: flex; flex-flow: column nowrap;
    width: calc((100%) / 3);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5PX;
    padding: 80px 0;
}
main .service .service_container a img{
    width: 25%;
    display: block;
    position: relative; right: -40%;
    margin-bottom: 10px;
}
main .service .service_container a em{
    font-size: 1.375rem;
    font-weight: 600;
    margin-bottom: 10px;
}
main .service .service_container a span{
    line-height: 1.6;
    letter-spacing: -0.02em;
}
main .service .service_container .question {}
main .service .service_container .question img {}
main .service .service_container .question em {}
main .service .service_container .question span {}
main .service .service_container .as {
    margin: 0 30px;
}
main .service .service_container a em {
    display: flex; flex-flow: column nowrap;
    margin-bottom: 10px;
}
main .service .service_container span {
    padding: 10px;
}
/* 서비스 영역 종료 */
/* 하단 배너 시작 */
main .btm_bnr_bg{
    background-image: url(../images/index/btm_bnr.png);
    background-repeat: repeat;
    width: 100%; height: 500px;
    background-position-x: center ;
    background-position-y: center ;
    text-align: center;
    align-content: center;
}
main .btm_bnr_bg p{
    color:#fff;
    font-size:1.375rem;
    font-weight: 700;
    margin-bottom: 10px;
}
main .btm_bnr_bg h3{
    color:#fff;
    font-size:3.75rem;
    font-weight: 700;
}
/* 하단 배너 종료 */